body {
	background-color: #92a8d1;
	margin-left: 20%;
	margin-right: 20%
}

p {
	font-size: x-large;
}

em {
	font-size: x-large;
}

STRONG {
	font-size: xx-large;
}

a {
	font-size: x-large;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	color: gray;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}